/* ENTER TRANSITION */
/* Declare transition start properties*/
.slide-enter {
  opacity: 0;
}

/* Declare transition properties */
.slide-enter.slide-enter-active {
  opacity: 1;
  transition: all 1s linear 1s;
}

/* EXIT TRANSITION */
.slide-exit {
  opacity: 1;

}

.slide-exit.slide-exit-active {
  opacity: 0;
  transition: all 1s linear
}